<ion-view title="Add City" id="page3">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Enter city name</span>
                <input type="text" placeholder="New York">
            </label>
        </form>
        <button id="addCity-button3" style="border-radius:3px 3px 3px 3px;" class="button button-positive  button-block">Add city</button>
        <button id="addCity-button4" class="button button-positive  button-block button-outline">Cancel</button>
    </ion-content>
</ion-view>